@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:wght@300;400;500;600&family=Playfair+Display&family=Quicksand:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
}
                
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px 20px;
  border-bottom: 1px solid #ff9147;
}

.logo {
  display: flex;
  font-size: 16pt;
  margin: 20px;
}

.logo h1:first-child {
  border-left: 3px solid #000;
  padding-left: 2px;
  height: 55px;
}

.logo h1:last-child {
  color:#ff7011;
  border-bottom: 3px solid;
  width: 80px;
}

header p {
  position: absolute;
  margin-top: 90px;
  margin-left: 20px;
  font-size: 15pt;
  font-weight: 600;
}

header a button {
  position: absolute;
  width: 100px;
  padding: 12px;
  margin-left: -110px;
  margin-top: 20px;
  border-radius: 16px;
  border: 1px solid #000;
  background-color: #ff7011;
  color: #000;
}

.hero {
  margin-left: 32px;
}

.hero img {
  width: 200px;
  margin-top: 80px;
}

.heroText {
  width: 160px;
  margin-left: 190px;
  margin-top: -220px;
  font-size: 12pt;
}

.heroText button {
  background-color: #367711;
  color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  height: 40px;
  margin-left: 40px;
  margin-top: 10px;
  padding: 8px 10px;
}

.heroText button i {
  padding-left: 4px;
}

.articlesQuality {
  display: flex;
  background-color: #e6e6e6;
  margin-top: 120px;
  padding: 20px;
}

.articlesQuality article {
  text-align: center;
  padding: 0 20px;
  width: 300px;
  font-size: 6pt;
}

.articlesQuality article:first-child {
  margin-left: -30px;
}

.articlesQuality article:last-child {
  margin-right: -30px;
}

.articlesQuality i {
  font-size: 22pt;
  padding: 6px;
}

.professionals {
  margin-left: 30px;
  margin-top: -70px;
}

.professionals img {
  width: 300px;
  margin-left: 30px;
  margin-top: 150px;
}

.professionalsText {
  width: 300px;
  margin-top: -30px;
  margin-left: 30px;
  text-align: center;
}

.professionalsText button {
  background-color: #367711;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  border: 1px solid #000;
  margin-top: 15px;
}

.form {
  margin-top: 70px;
  background-color: #e6e6e6;
  margin-left: -30px;
  padding: 20px 20px 50px 20px;
}

.form input {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 10px;
  border: 2px solid #367711;
  border-radius: 20px;
}

.form input:last-child {
  margin-left: 200px;
  margin-top: -90px;
  background-color: #367711;
  color: #fff;
}

.onlineDoctor {
  margin-top: 100px;
  margin-left: 30px;
}

.onlineDoctor img {
  width: 300px;
  margin-left: 30px;
}

.onlineDoctorText {
  width: 300px;
  margin-left: 30px;
  text-align: center;
}

.onlineDoctorText button {
  background-color: #367711;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  border: 1px solid #000;
}

footer {
  background-color: #e6e6e6;
  position: absolute;
  width: 450px;
  margin-top: 100px;
  padding: 8px;
}

footer .logo {
  font-size: 8pt;
}

footer .logo h1:first-child,
footer .logo h1:last-child {
  border: none;
}

footer .social {
  width: 100px;
  margin-left: 300px;
  margin-top: -90px;
}

footer .social a {
  list-style: none;
  text-decoration: none;
}

footer p {
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 25px;
}